.apple {
    margin-left: 900px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.apple2 {
    margin-left: 750px;
    margin-top: 200px;
    margin-top: -1px;
    margin-bottom: -1px;
}
.apple3 {
    margin-left: 710px;
    margin-top: -675px;
    margin-bottom: 1px;
}
.color {
    background-color: steelblue;
}
.S10 {
    background-color: crimson;
}
.S10e {
    background-color: chartreuse;
}
.S105 {
    background-color: darkgreen;
}
.S105G {
    background-color: darkgrey; 
}
.XR {
    background-color: blueviolet;
}
.XS {
    background-color: brown;
}
.XSMAX {
    background-color: yellow;
}
