.apple {
    margin-left: 900px;
    margin-top: -340px;
    margin-bottom: 10px;
}
.apple2 {
    margin-left: 50px;
    margin-top: -40px;
    /* margin-bottom: 40px;*/
    margin-right: auto;
}
.apple3 {
    margin-left: 900px;
    margin-top: -1px;
    margin-bottom: -40xpx;
    border: yellow;
    border: dotted;
}
.color {
    background-color: white;
}
.S10 {
    background-color: steelblue;
}
.S10e {
    background-color: yellow;
}
.S105 {
    background-color: skyblue;
}
.S105G {
    background-color: slategray; 
}
.XR {
    background-color: orange;
}
.XS {
    background-color: rgb(183, 110, 121);
}
.XSMAX {
    background-color: rosybrown;
}
.S10e2 {
    margin-left: 35%;
}
.S10e3 {
    margin-left: 35%;
}
.S102 {
    margin-left: 30%;
}
.S103 {
    margin-left: 35%;
}
.S1052 {
    margin-left: 20%;
}
.S105G2 {
    margin-left: 11%;
}
.XR2 {
    margin: 13%;
}
.XS2 {
    margin-left: 13%;
}
.XSMAX2 {
    margin-left: 14%;
}
.samsung {
    margin-bottom: -55px;
    margin-left: auto;
    /*margin-top: 500px;*/
}
.sm {
    margin-bottom: 80px;
    border: dotted;
    border-color: yellow;
    width: 400px;
    height: 110px; 
    margin-left: auto;
    margin-right: auto;
}
.Title {
    border: solid;
    border-top-color: yellow;
    border-left-color: blue;
    border-right-color: crimson;
    border-bottom-color: green;
    height: 55px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.Title {
    color: blue;
}
.smg {
    margin-left:auto;
    margin-right:auto;
}
.two-cols {
    columns: 2;
}