.apple {
    margin-left: 900px;
    margin-top: -685px;
    margin-bottom: 10px;
}
.apple2 {
    margin-left: 750px;
    margin-top: 100px;
    margin-top: 65px;
    margin-bottom: -1px;
}
.apple3 {
    margin-left: 900px;
    margin-top: 30px;
    margin-bottom: -1px;
}
.color {
    background-color: steelblue;
}
.S10 {
    background-color: crimson;
}
.S10e {
    background-color: chartreuse;
}
.S105 {
    background-color: darkgreen;
}
.S105G {
    background-color: darkgrey; 
}
.XR {
    background-color: blueviolet;
}
.XS {
    background-color: brown;
}
.XSMAX {
    background-color: yellow;
}
.S10e2 {
    margin-left: 35%;
}
.S10e3 {
    margin-left: 35%;
}
.S102 {
    margin-left: 30%;
}
.S103 {
    margin-left: 35%;
}
.S1052 {
    margin-left: 20%;
}
.S105G2 {
    margin-left: 11%;
}